.main {
  text-align: center;
  padding: 40px;
  color: #e2e8f0;
}

/* TITLE */
.title {
  font-size: 28px;
  margin-bottom: 30px;
  color: #38bdf8;
}

/* UPLOAD BOX */
.upload-box {
  border: 2px dashed #00ffcc;
  padding: 40px;
  border-radius: 12px;
  margin: auto;
  width: 60%;
  background: rgba(15, 23, 42, 0.6);
  box-shadow: 0 0 20px rgba(0,255,200,0.2);
}

.file-name {
  margin-top: 10px;
  color: #38bdf8;
  font-weight: bold;
}

/* BUTTON */
.scan-btn {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #00e5ff, #00ffa3);
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.scan-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* LOADING TEXT */
.loading-text {
  margin-top: 10px;
  color: #facc15;
}

/* RESULT CARD */
.result-card {
  margin-top: 40px;
  padding: 30px;
  border-radius: 12px;
  background: #1e293b;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
  text-align: left;
}

/* STATUS COLORS */
.bad {
  color: #ff4d4f;
  font-weight: bold;
}

.good {
  color: #22c55e;
  font-weight: bold;
}

hr {
  margin: 20px 0;
  border: 0.5px solid #475569;
}