<div class="dashboard-container">

  <!-- HEADER -->
  <h1 class="title"> Malware Detection Dashboard</h1>

  <!-- LOADING -->
  <div *ngIf="loading" class="loading">
    Loading dashboard...
  </div>

  <!-- CONTENT -->
  <div *ngIf="!loading && stats">

    <!-- CARDS -->
    <div class="cards">

      <div class="card">
        <h3>Total Files</h3>
        <p>{{ stats?.total_files }}</p>
      </div>

      <div class="card danger">
        <h3>Malicious</h3>
        <p>{{ stats?.malicious_files }}</p>
      </div>

      <div class="card success">
        <h3>Benign</h3>
        <p>{{ stats?.benign_files }}</p>
      </div>

    </div>

    <!-- CHARTS -->
    <div class="charts" *ngIf="pieChartData && barChartData">

      <!-- PIE -->
      <div class="chart-box">
        <h3>🧪 Malware Distribution</h3>

        <canvas
          baseChart
          [data]="pieChartData"
          [options]="{ responsive: true }"
          chartType="pie">
        </canvas>
      </div>

      <!-- BAR -->
      <div class="chart-box">
        <h3>📊 Analysis Summary</h3>

        <canvas
          baseChart
          [data]="barChartData"
          [options]="{ responsive: true }"
          chartType="bar">
        </canvas>
      </div>

    </div>

  </div>

</div>